<!DOCTYPE html>
<html>
<head>
    <title>MMO Fight</title>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="/platform/platform.js">
    </script>
    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
    <link rel="import"
          href="/font-roboto/roboto.html">
    <link rel="import"
          href="/core-header-panel/core-header-panel.html">
    <link rel="import"
          href="/core-toolbar/core-toolbar.html">
    <link rel="import"
          href="/paper-tabs/paper-tabs.html">
    <link rel="import"
          href="/google-signin/google-signin.html">
    <link rel="import"
          href="/facebook-login/facebook-login.html">
    <link rel="import"
          href="/internal-signin/internal-signin.html">
    <link rel="import" 
        href="/core-toolbar/core-toolbar.html">
    <link rel="import" 
        href="/core-header-panel/core-header-panel.html">
    <link rel="import" 
        href="/core-icons/core-icons.html">
    <link rel="import" 
        href="/paper-icon-button/paper-icon-button.html">
</head>

<body unresolved touch-action="auto">

<core-header-panel>
    <core-toolbar>
        <paper-tabs selected="home" valueattr="name" self-end>
            <paper-tab name="home">Home</paper-tab>
        </paper-tabs>
        <internal-signin></internal-signin>
        <facebook-login appID="1453459064910203"></facebook-login>
        <google-signin clientId="982205522397-8maljftcknp3ofm2d0a17n4fm85c08tt.apps.googleusercontent.com" scopes="profile"></google-signin>
    </core-toolbar>

    <!-- main page content will go here -->
    <div id="connexion" class="container card-header" layout vertical center>
    </div>

</core-header-panel>

<!-- Gestion des onglets -->
<script src="/scripts/tabs.js"></script>
</body>
</html>
